<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('blocks/head.ejs') %>
</head>
<body>
  <%- include('blocks/navbar.ejs', {status, login}) %>

  <header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <img class="img-fluid bot-avatar rounded-circle" src="<%= bot.avatarURL() %>" width="200px" height="200px"
          alt="">
          <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%=bot.username%></h3>
          <br />
          <a class="btn" href="<%=invite%>" role="button" target="blank">
            <span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            Invite Me
          </a>
          
          <a class="btn loginHB" role="button">
            <span>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </span>
            Login
          </a>
      </div>
    </div>
    </header>

    <%- include('blocks/footer.ejs', {status, login}) %>
</body>
</html>
