<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('blocks/head.ejs') %>
</head>
<body>
  <%- include('blocks/navbar.ejs') %>
  <header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <img class="img-fluid bot-avatar rounded-circle" src="<%= bot.avatarURL() %>" width="200px" height="200px"
          alt="">
          <h3 class="masthead-heading mb-0" style="font-size: 3em !important;"><%=bot.username%></h3>
          <br />
          <a class="btn" href="<%=invite%>" role="button">
            <span>
              <i class="fa fa-plus" aria-hidden="true"></i>
            </span>
            Invite Me
          </a>
          <a class="btn" href="/login" role="button">
            <span>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
            </span>
            Login
          </a>
      </div>
    </div>
    </header>

    <section>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2">
            <div class="p-5">
              <img class="img-fluid" src="img/discord-mockup.png" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h3 class="display-5">Send messages to your server!</h3>
              <p>How to send a message without being noticed? Simply by going to your server page on the dashboard!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('blocks/footer.ejs') %>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function() {
        
      });
    </script>
</body>
</html>
