<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('blocks/head.ejs') %>
</head>
<body>
  <%- include('blocks/navbar.ejs', {status, login}) %>

  <center>
    <div class="guild-container">
      <div class="serv-container">
        <% guilds.forEach(g => { %>
          <div class="">
            <a href="/servers/<%= g.id %>">
              <div>
                  <img 
                    src="https://cdn.discordapp.com/icons/<%= g.id %>/<%= g.icon %>.png?size=2048" 
                    onerror="this.onerror = null; this.src = `https:\/\/discordapp.com/assets/1cbd08c76f8af6dddce02c5138971129.png`"
                    alt="<%= g.name %>" 
                    draggable="false"
                    class="guild-icon"
                    width="70px" 
                    height="70px"
                  >
              </div>
              <h2 class="guild-name"><%= g.name %></h2>
            </a>
          </div>
        <% }) %>
       </div>
    </div>
  </center>

  <%- include('blocks/footer.ejs', {status, login}) %>
</body>
</html>
